{% load static %}
<!doctype html>
<html is="dmx-app">

<head>
    <script src="{% static 'index/frontend/dmxAppConnect/dmxAppConnect.js'  %}"></script>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'index/frontend/bootstrap/4/css/bootstrap.min.css'  %}" />
    <script src="{% static 'index/frontend/dmxAppConnect/dmxBootstrap4Collapse/dmxBootstrap4Collapse.js'  %}" defer=""></script>
    <script src="{% static 'index/frontend/dmxAppConnect/dmxTyped/dmxTyped.js'  %}" defer=""></script>
    <script src="{% static 'index/frontend/dmxAppConnect/dmxTyped/typed.min.js'  %}" defer=""></script>
    <link rel="stylesheet" href="{% static 'index/frontend/css/style.css'  %}" />
    <link rel="stylesheet" href="{% static 'index/frontend/dmxAppConnect/dmxValidator/dmxValidator.css'  %}" />
    <script src="{% static 'index/frontend/dmxAppConnect/dmxValidator/dmxValidator.js'  %}" defer=""></script>
</head>

<body id="register" class="style8" style="padding-top: 0px">
    <div class="container wappler-block pt-5 pb-5 style8" style="padding-top: 0px">
        <div class="row style8" >
            <div class="text-center col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 offset-xl-4 col-xl-7 style26">
                <div class="d-block p-4 bg-transparent">
                    <img style="width: 340px; height: 50px" src="{% static 'index/assets/images/MammoTrck_logo_ilust/logo_MammoTrck.png'  %}" class="style41">
                </div>
                <div class="card style3">
                    <form method="POST" onsubmit="checkPassword(this)" action="{%url 'registration' %}">
                        {% csrf_token %}
                        <div class="card-body style2">
                            <div class="row">
                                <div class="col">
                                  <h4 class="card-title text-xl-left style5">Creación de cuenta</h4>
                                  <div class="row style22 no-gutters">
                                      {{form.nombre}}
                                  </div>
                                  <div class="row no-gutters style22">
                                      {{form.apellido1}}
                                  </div>
                                </div>
                                <div class="col" style="display: flex; flex-direction:column-reverse">
                                  <div class="row no-gutters style22">
                                      {{form.apellido2}}
                                  </div>
                                  <div class="row style22 no-gutters">
                                      {{form.correo_electronico}}
                                  </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col">

                                    <div class="row no-gutters style22">
                                        {{form.contrasena}}
                                    </div>
                                    <div class="row no-gutters style16 justify-content-center style22">
                                        {{form.clinica}}
                                        <p class="style24">Seleccione el hospital o clínica respectivo</p>
                                    </div>


                                </div>
                                <div class="col">

                                    <div class="row no-gutters style22">
                                        {{form.contrasena_confirmar}}
                                    </div>
                                    <div class="row no-gutters justify-content-center style22" >
                                        {{form.rol}}
                                        <p class="style24">Seleccione el tipo de cuenta</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-xl-center no-gutters style11">
                                <div class="col style29">
                                    <button href="#" type="submit" class="btn btn-primary style1 boton_a" dmx-style:style1="text4.invalid">Crear Cuenta </button>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'index/frontend/bootstrap/4/js/popper.min.js'  %}"></script>
    <script src="{% static 'index/frontend/bootstrap/4/js/bootstrap.min.js'  %}"></script>
</body>

</html>

<script>
    function checkPassword(form){
        return true;
    }

</script>
