/* CSS Document */

:root{
  --mammo_primary: #f48fb1;
  --mammo_light: #ffc1e3;
  --mammo_dark: #BF5F82;

  --medical_primary: #448aff;
  --medical_light: #83b9ff;
  --medical_dark: #005ecb;

  --medical2: #bbdefb;
  --medical2_light: #eeffff;
  --medical2_dark: #8aacc8;
}

.boton_a{
  background-color: var(--mammo_dark) !important;
  border-color: var(--mammo_dark) !important;
}
.boton_b{
  background-color: var(--medical_dark) !important;
  border-color: var(--medical_dark) !important;
}

.info{
  text-align: justify;
  text-justify: inter-word;
  font-size: 1rem;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid var(--mammo_primary) !important;
  border-bottom: 2px solid var(--mammo_primary) !important;
}
[type="radio"]:checked+label:after {
    border: 2px solid var(--mammo_primary) !important;
    background-color: var(--mammo_primary) !important;
}

   input:focus + label {
     color: var(--mammo_primary) !important;
   }

    input:focus {
     border-bottom: 1px solid var(--mammo_primary) !important;
     box-shadow: 0 1px 0 0 var(--mammo_primary) !important;
   }

body {
  padding-top: 55px;
}
#page-header {
  padding-top: 120px;
  background: linear-gradient(135deg, #35b8b0 0%, #1c799d 100%);
}
#header-text {
  color: #fff;
}
#header-img > img {
  -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
}
section {
  padding: 40px 0;
  position: relative;
}
h3.section-title {
  margin-bottom: 30px;
  font-weight: 400;
}
#features i {
  background: #f9f9f9;
  width: 124px;
  border-radius: 50%;
  height: 124px;
  line-height: 124px;
}
#features h5 {
  color: #1b99b9;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
}
#screenshots {
  padding-top: 50px;
}
#screenshots h2 {
  font-weight: 400;
}
#screenshots .row {
  margin-bottom: 80px;
}
#screenshots img {
  -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
}
#page-footer {
  padding: 15px 0 10px;
  font-size: 12px;
}
@media (min-width: 600px) {
  .style1 {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 40px;
    padding-right: 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .style2 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .style3 {
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    float: none;
    position: relative;
  }
  .style4 {
    display: block;
  }
  .style5 {
    margin-bottom: 40px;
    font-size: 2rem;
  }
  .style6 {
    width: 100%;
  }
  .style8 {
    background-color: #DCECFF !important;
  }
  .style9 {
    display: block;
    padding-bottom: 0px;
  }
  .style10 {
    padding-bottom: 0px;
  }
  .style11 {
    margin-bottom: 40px;
  }
  .style12 {
    font-size: 0.9rem;
  }
  .style7 {
    width: auto;
    margin-bottom: 1%;
    margin-left: 33%;
  }


  .style15 {
    margin-bottom: 40px;
  }
  .style16 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .style18 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .style17 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .style19 {
    font-size: 0.75rem;
  }
  .style20 {
    margin-top: 206px;
  }
  .style21 {
    margin-bottom: 34px;
    display: block;
  }
  .style22 {
    min-height: 70px;
    display: block;
  }
  .style23 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .style24 {
    font-size: 0.75rem;
    margin-top: 5px;
  }
  .style25 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .style26 {
    margin-left: 20.5%;
  }
  .style27 {
    display: block;
  }

  .stylebut2 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .style29 {
    margin-right: 656px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
  }
  .style31 {
    height: 100%;
    max-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .style32 {
    padding-top: 0%;
  }
  .style33 {
    font-weight: bold;
  }
  .style34 {
    background-size: auto;
    background-color: #ffffff;
  }
  .style37 {
    text-align: left;
    background-color: #ffffff !important;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: -2px;
  }
  .style35 {
    height: 100vh !important;
    min-height: 100vh;
    max-height: 100vh;
    color: #000;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
  }
  .style36 {
    font-size: 0.8rem;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    height: 100vh;
    max-height: 100vh;
  }
  .style38 {
    font-size: 0.8rem;
    margin-bottom: -2px;
  }
  .style39 {
    font-size: 0.8rem;
    margin-bottom: 6px;
  }
  .style40 {
    border-width: 4px;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
  }
  .style41 {
    text-align: center;
  }
  .style42 {
    text-align: center;
  }
  .style43 {
    font-size: 0.9rem;
  }
  .style44 {
    display: inline;
    text-align: center;
    margin-top: 12px;
  }
  .style45 {
    margin-right: 10px;
  }
  .style46 {
    font-size: 0.9rem;
  }
  .style47 {
    margin-right: 10px;
  }
  .style53 {
    font-size: 1.5rem;
  }
  .style55 {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  .style56 {
    margin-top: -3px;
    margin-right: 6px;
  }
  .style57 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .style58 {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    width: 100% !important;
    margin-left: 0px;
  }
  .style65 {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  }
  .style66 {
    background-color: #f1f9fa;
  }
  .style67 {
    background-color: #f8f9fa;
  }
  .style68 {
    padding-top: 0px;
    -webkit-box-align: start;
    /* -ms-flex-align: start */
    /* -webkit-box-pack: center */
    /* -ms-flex-pack: center */
    -webkit-box-align: center;
    /* -ms-flex-align: center */
    -webkit-box-orient: vertical;

    /* -ms-flex-align: baseline */
    /* -ms-flex-wrap: nowrap */
    /* flex-wrap: nowrap */
    position: relative;
  }
  .style64 {
    margin-bottom: 0px;
  }
  .style69 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-wrap: wrap;
    height: 95%;
    margin-top: 37px;
    margin-bottom: 0px;
  }
  .style70 {
    color: #000;
    margin-bottom: -2px;
    margin-right: 19px;
  }
  .style71 {
    margin-top: 10px;
    margin-bottom: -15px;
  }
  .style72 {
    margin-bottom: -22px;
    margin-left: 20px;
  }
  .style74 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .style75 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    max-height: 97%;
    height: 97%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
  }
  .style76 {
    overflow: scroll;
    max-height: 50%;
    height: 50%;
  }
  .style77 {
    display: block;
    display: -ms-flexbox;
    display: -webkit-box;

    max-height: 50%;
  }
  .style78 {
    max-height: 50%;
    height: 50%;
  }
  .style79 {
    height: 100%;
    max-height: 100%;
  }
  .style80 {
    height: 10%;
    min-height: 10%;
    max-height: 10%;
  }
  .style81 {
    padding-top: 0px;
  }
  .style52 {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100vh;
  }
  .style82 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 78%;
    height: 78%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .style83 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .style84 {
    padding-bottom: 120px;
  }
  .style85 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .style87 {
    max-height: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .style88 {
    /* max-height: 100px */
    max-height: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  .style89 {
    max-height: 100%;
    overflow: scroll;
  }
  .style90 {
    max-height: 100%;
    overflow: scroll;
  }
  .style91 {
    height: 100%;
    max-height: 100%;
  }
  .style50 {
    padding-bottom: 0px;
    background-color: var(--medical_primary) !important;
    color: white !important;
  }
  .style86 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    height: 100%;
    max-height: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: nowrap;
    overflow: scroll;
  }
  .style92 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  }
  .style93 {
    padding-right: 0px;
  }
  .style94 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .style95 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .style96 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .style97 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .style98 {
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .style99 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
  }
  .style100 {
    -webkit-box-orient: horizontal;
  }
  .style101 {
    display: block;
    display: -ms-flexbox;
  }
  .style102 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
  }
  .style63 {
    padding-top: 0%;
  }
  .style103 {
    height: 100%;
    max-height: 100%;
  }
  .style104 {
    height: 100%;
    max-height: 100%;
  }
  .style105 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .style73 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .class106 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
#Register {
}

.style29 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  display: flex;
  display: flex;
  display: flex;
  display: flex;
  display: flex;
  display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.style30 {
}
@media (min-width: 768px) {
  .style29 {
    margin-right: 243px;
  }
}
.style48 {
  padding-top: 0px !important;
  margin-left: 0px;
  margin-right: 0px;
}
.style35 {
}
.style49 {
  border-color: #c72020;
}
.style50 {

  padding-top: 15px;
  /* padding-bottom: 15px */
}
.style51 {
  text-align: left;
  margin-bottom: 0rem;
}
.style52 {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  width: 100% !important;
  max-width: 100% !important;
  overflow: scroll;
}
.style53 {
  margin-left: 15px;
}
.style32 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.style43 {
  font-size: 0.8rem !important;
}
.style45 {
  margin-right: 10px;
}
.style47 {
  margin-right: 10px;
}
.style46 {
  font-size: 0.8rem;
}
.style37 {
  margin-bottom: -6px;
}
.style39 {
  font-size: 1rem;
  margin-bottom: 0px;
}
.style54 {
  font-size: 1rem;
}
link {
}
.style56 {
  margin-top: 2px;
  margin-right: 7px;
  color: gray;
}
.style59 {
  font-weight: bold;
}
.wappler-temp {
}

.style60 {
  font-size: 20px;
  font-weight: bold;
}
.style58 {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.style61 {
  font-size: 2rem;
}
.style62 {
  margin-bottom: -11px;
  margin-left: 20px;
  padding-bottom: 0px;
}
.style63 {
  padding-bottom: 0px;
}
.style64 {
  margin-left: 20px;
  font-size: 18px;
}
@media (min-width: 992px) {
  .style65 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
.style82 {
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 100%;
  max-height: 85%;
}
.style106 {
  padding-top: 0px;
}
.style107 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  padding-left: 21px;
}
.style108 {
  margin-top: 19px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.85rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.style109 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 11px;
}
.style110 {
  height: 100%;
  width: 100%;
}
.style111 {
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
}
.style112 {
  width: 45%;
}
