{% load static %}

<!doctype html>
<html is="dmx-app">

<head>
    <script src="{% static 'index/frontend/dmxAppConnect/dmxAppConnect.js'  %}"></script>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'index/frontend/bootstrap/4/css/bootstrap.min.css'  %}" />
    <script src="{% static 'index/frontend/dmxAppConnect/dmxBootstrap4Collapse/dmxBootstrap4Collapse.js'  %}" defer=""></script>
    <script src="{% static 'index/frontend/dmxAppConnect/dmxTyped/dmxTyped.js'  %}" defer=""></script>
    <script src="{% static 'index/frontend/dmxAppConnect/dmxTyped/typed.min.js'  %}" defer=""></script>
    <link rel="stylesheet" href="{% static 'index/frontend/css/style.css'  %}" />
    <link rel="stylesheet" href="{% static 'index/frontend/dmxAppConnect/dmxValidator/dmxValidator.css'  %}" />
    <script src="{% static 'index/frontend/dmxAppConnect/dmxValidator/dmxValidator.js'  %}"  defer=""></script>
</head>

<body id="login" class="style8">
    <div class="container wappler-block pt-5 pb-5 style8">
        <div class="row style8">
            <div class="text-center col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 style7 col-xl-4 offset-xl-4">
                <div class="d-block p-4 bg-transparent">
                    <img src="{% static 'index/frontend/assets/images/1598155-200.png'  %}">
                </div>
                <div class="card style3">
                    <form method="POST">
                    <div class="card-body style2">

                        <h4 class="card-title text-xl-left style5">Iniciar sesión</h4>

                        {% csrf_token %}
                        <div class="row justify-content-xl-center no-gutters style11">
                            <input id="text1" name="username" type="email" class="form-control style4" placeholder="Correo electrónico" data-rule-email="" data-msg-required="">
                        </div>

                            <input id="text2" name="password" type="password" class="form-control style6" placeholder="Contraseña" data-msg-required="">
                            <button href="#" class="btn btn-primary style1" type="submit">Sign In</button>

                            {% if form.errors %}
                                {{form.errors}}
                                <p style="color: red">*Contraseña o usuario incorrectos.</p>
                            {% endif %}

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-xl-center no-gutters row-cols-xl-1 text-xl-center">
            <p class="style12">¿Aún no tiene una cuenta? <a href="{% url 'registration' %}">Crear una</a></p>
        </div>
    </div>
    <script src="{% static 'index/frontend/bootstrap/4/js/popper.min.js'  %}"></script>
    <script src="{% static 'index/frontend/bootstrap/4/js/bootstrap.min.js'  %}"></script>
</body>

</html>